{% extends "layout.html" %}
{% block body %}

<!-- Page Header-->
<header class="masthead"
    style="background-image: url('   {{ url_for('static', filename='assets/img/home-bg.jpg') }}   ')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Change blog as per requirement</span>
                </div>
            </div>
        </div>
    </div>
</header>
<style>

</style>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form name="sentMessage" id="contactForm" action="/edit/{{post.sno}}" method="post" novalidate>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Title</label>
                        <input type="text" class="form-control" placeholder="Title" id="title" name='title' required
                            data-validation-required-message="Please enter your title." value="{{post.title}}">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Sub Heading</label>
                        <input type="text" class="form-control" placeholder="Sub Heading" id="sub heading"
                            name="sub heading" required data-validation-required-message="Please enter Sub Heading."
                            value="{{post.sub_heading}}">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Slug</label>
                        <input type="text" class="form-control" placeholder="Slug" name="slug" id="slug" required
                            data-validation-required-message="Please enter slug" value="{{post.slug}}">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Name" name="name" id="name" required
                            data-validation-required-message="Please enter slug" value="{{post.name}}">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Img_file</label>
                        <input type="text" class="form-control" placeholder="Img_file" name="img_file" id="img_file"
                            required data-validation-required-message="Please enter your content"
                            value="{{post.img_file}}">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Content</label>
                        <input row="5" type="text" class="form-control" placeholder="Content" name="content"
                            id="content" required data-validation-required-message="Please enter your content"
                            value="{{post.content}}">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <h3>Upload your img here..</h3>
                <hr>
                    <form action="/uploader" method="post" enctype="multipart/form-data">
                        <input type="file" name="file1">
                        <button type="submit" class="btn btn-outline-dark btn-sm">Upload</button>
                    </form>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
                    </div>
            </form>
        </div>
    </div>
</div>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

        </div>
    </div>
</div>

{% endblock %}